[run]
branch = True
source =
    src/gordon_introspection

[paths]
source =
   gordon_introspection
   .tox/*/lib/python*/site-packages/gordon_introspection
   .tox/pypy/site-packages/gordon_introspection

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
